<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Основы Vue</title>
  <link rel="stylesheet" href="theme.css" />
</head>

<body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">
          <!-- Сюда необходимо вывести текст активного шага по его индексу -->
          {{ steps[activeIndex].text }}
        </div>
        <ul class="steps-list">
          <li class="steps-item" :class="idx===activeIndex ? 'active' : '', idx < activeIndex ? 'done' : ''"
            v-for="(step, idx) in steps" @click="activeIndex=idx">
            <span>{{idx+1}}</span>
            {{step.title}}
          </li>
        </ul>
        <!-- <ul class="steps-list">
          <li class=" steps-item done"><span>1</span> Шаг 1</li>
          <li class="steps-item done"><span>2</span> Шаг 2</li>
          <li class="steps-item active"><span>3</span> Шаг 3</li>
          <li class="steps-item"><span>4</span> Шаг 4</li>
        </ul> -->
        <div>
          <button class="btn" :disabled="activeIndex===0" @click="activeIndex--" v-if="flagUpdate === true">Назад</button>
          <button class="btn" v-else @click="update()">{{ titlePrev }}</button>
          <button class="btn primary" @click="activeIndex++" v-if="(activeIndex < 4) && (flagUpdate=true)">Вперед</button>
          <button class="btn primary" v-else @click="finish()" v-if="flagUpdate === true">Закончить </button>
          <div if-else></div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
</body>

</html>